body{
    background-colour :black;
}

.line{
    border-top-style : solid 3px black;
    border-radius: 3px;
    margin-left: 40px;
    margin-right:40px;
    flex-direction: column;
}

.line1{
    margin-left: 50px;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.date{
    margin-left: 40px;
}

.h1{
text-align: center;   
font-weight: bolder;
font-size: 70px;
word-spacing: 60px;
padding-bottom: 20px;

}

.topcover1{
    padding-left: 20px;
    margin-block-end: 20px;
}
.topcover1{
    padding-top: 30px;
}
.param{
text-align: center;   
font-weight: bold;
font-size: 50px;
word-spacing: 40px;
padding-bottom: 20px;

}